.header {
    background: #fff !important;
    height: 65px !important;
    border-bottom: 1px solid #e8e8e8 !important;
}

.header .logo{
    background: rgba(255,255,255,.2) !important;
    float: left !important;
    margin-right: 20px !important;
}

.imageProfile{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.rightMenuItem {
    float: right !important;
}